      td = row.product_id
      td = row.product.name
      td
        = row.quantity
      td
        = link_to "+", admin_order_row_path(@order, row, quantity: 1),
                       method: :patch,
                       remote: true,
                       class: "btn btn-default"
        = link_to "-", admin_order_row_path(@order, row, quantity: -1),
                       method: :patch,
                       remote: true,
                       class: "btn btn-default"
      td = row.price_at_sale
      td = row.quantity * row.price_at_sale
      td
        - if row.sent
          |Sent
        -else
          = link_to "Mark as sent",
                    admin_order_row_path(@order, row.id, status: :sent),
                    method: :patch,
                    remote: true,
                    class: "btn btn-default"
      td
        = link_to "Remove",
                  admin_order_row_path(@order, row.id),
                  method: :delete,
                  remote: true,
                  class: "btn btn-danger",
                  data: { confirm: "are you sure you want to remote the row?" }
